<!DOCTYPE html>
<html>
<head>
  <title>Developer Dashboard</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css"/>

 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">WonderQ</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="./producer">Producer</a></li>
        <li><a href="./consumer">Consumer</a></li>
        <li><a href="./dev">Developer</a></li>
      </ul>
    </div>
  </nav>
  <div class = "content-panel">
    <h5>All Messages</h5>
    <table class="bordered highlight">
      <thead>
        <tr>
          <th>Creation Date</th>
          <th>Message</th>
          <th>State</th>
          <th>Checkout Time</th>
          <th>ID</th>
        </tr>
      </thead>
      <tbody>
        {{#each messages}}
        <tr>
          <td>{{creation_date}}</td>
          <td>{{message}}</td>
          <td>{{state}}</td>
          <td>{{checkout_time}}</td>
          <td>{{id}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</body>
</html>
